<!DOCTYPE html>
<html>
  <head>
    <title>Authors</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if(error) {%>
        Error <%= error %>
    <% } %>
    <form name="author" method="POST" action="/authors/filter">
        <tr>
            <td>The author’s pseudo - optional</td>
            <td>
                <select name="language">
                    <option value="french">french</option>
                    <option value="english">english</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Search"></td>
        </tr>
    </form>
    <h1 class="title">Authors</h1>
    <% if(authors.length === 0) {%>
        No authors found
    <% } else { %>
        <ul>
            <% authors.forEach(author => { %>
                <li>
                    <%= author.language %> <%= author.name %> (<%= author.pseudo %>)
                    <a href=<%= `/authors/${author.id}` %>><button>See details</button></a>
                </li>
            <% }) %>
        </ul>
    <% } %>
    <a href="/authors/new"><button>Create new</button></a>
  </body>
</html>
