<!DOCTYPE html>
<html>
<head>
    <title>Filter Language</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1 class="title">Authors Filter Language</h1>
      <% if(authors.length === 0) {%>
        No authors in system yet.
      <% } else { %>
          <ul>
              <% authors.forEach(author => { %>
                  <li>
                      <%= author.name %> (<%= author.pseudo %>) <%= author.language %>
                      <a href=<%= `/authors/${author.id}` %>><button>See details</button></a>
                  </li>
              <% }) %>
          </ul>
      <% } %>
<form name="language" method="POST" action="/authors/filter">
    <table>
        <tr>
            <% if (!failedFields) { var failedFields = []} %>
            <% if (!values) { var values = {}} %>
            <td>The author’s name</td>
            <td><input type="text" id="author-language" name="language" value=<%= values.language %>></td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <% failedFields.filter((error) => error.path.join("/") === "language").forEach((error) => { %>
                        <li><%= error.message %></li>
                    <% }) %>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="schearch"></td>
        </tr>
        
    </table>
</form>
</body>
</html>
