<!DOCTYPE html>
<html>
  <head>
    <title>Author <%= author.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1 class="title">Author n°<%= author.id %></h1>
      <ul>
          <li> Name: <%= author.name %>  </li>
          <li> Pseudo: <%= author.pseudo %>  </li>
          <li> Email: <%= author.email %>  </li>
          <li> language: <%= author.language %>  </li>
      </ul>
  </body>
</html>
