<!DOCTYPE html>
<html>
  <head>
    <title>Author <%= author.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1 class="title">Author n°<%= author.id %></h1>
      <ul>
          <li> Name: <%= author.name %>  </li>
          <li> Pseudo: <%= author.pseudo %>  </li>
          <li> Email: <%= author.email %>  </li>
          <li> Language: <%= author.language %>  </li>
      </ul>

      <% if(books.length === 0) {%>
        Aucun livre trouvé pour l'auteur.
      <% } else { %>
        <h2 class="subTitle">Titres des livres ecrient</h1>
          <ul>
              <% books.forEach(book => { %>
                  <li>
                      <%= book.title %>
                  </li>
              <% }) %>
          </ul>
      <% } %>
      
  </body>
</html>