<!DOCTYPE html>
<html>
<head>
    <title>New Book for <%= author.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1 class="title">New Book for <%= author.name %></h1>
<form name="author" method="POST" action=<%= `/authors/${author.id}/books/new` %>>
    <table>
        <tr>
            <% if (!failedFields) { var failedFields = []} %>
            <% if (!values) { var values = {}} %>
            <td>Titre du livre</td>
            <td><input type="text" id="author-name" name="name" value=<%= values.name %>></td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <% failedFields.filter((error) => error.path.join("/") === "title").forEach((error) => { %>
                        <li><%= error.message %></li>
                    <% }) %>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
</html>
